<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <img src="https://images.emojiterra.com/google/noto-emoji/unicode-16.0/color/1024px/265f.png" width="30" height="30" alt="Peão de Xadrez" class="me-2">
    <a class="navbar-brand" href="#">Jogos de Tabuleiro</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="#forms">forms</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#mdo">mdo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

