.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.card-body {
  background-color: #ffffff;
  padding: 10px;
}

.card-text {
  font-size: 1rem;
  max-height: 100px;
  overflow-y: auto;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.container-fluid {
  overflow-x: hidden;
}
