<div class="fixed">
  <footer class="bg-dark text-white text-center py-3 my-4 border-top">
    <div>
      <a href="https://github.com/blueray00/Avalia-o_POO.git" class="text-white mx-3" target="_blank">
        <i class="bi bi-github" style="font-size: 2rem;"></i>
      </a>
      <a href="https://www.teste.com" class="text-white mx-3" target="_blank">
        <i class="bi bi-book" style="font-size: 2rem;"></i>
      </a>
      <a href="/" class="text-white mx-3" target="_blank">
        <i class="bi bi-house-door" style="font-size: 2rem;"></i>
      </a>
    </div>
    <p class="mt-2">© 2024</p>
  </footer>
</div>
