body {
  background-image: url('https://c4.wallpaperflare.com/wallpaper/359/158/446/anime-kakegurui-yumeko-jabami-wallpaper-preview.jpg');
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
